/* ----------  GLOBAL START  ---------- */

.perso-border-left {
	border-left: solid gray 1px;
	padding-left: 1%;
}

.perso-cursor-hover:hover {
	cursor: pointer;
}

/* ----------  GLOBAL END  ---------- */


/* ----------  HEADER START  ---------- */

.perso-header {
	min-height: 110px;
}

/* les images (logo) */

.w3-quarter .perso-logo {
	height: 100px;
	margin: 13px 0 0 0;
}

.w3-quarter .perso-avatar {
	height: 100px;
	margin: 10px 0 0 0;
	border-radius: 50px;
}

/* menu horizontal */

.perso-navbar {
	margin-top: calc(75px / 2); /* utilisation de la fonction calc() qui sert a calculer des dimensions  */
}

.perso-navbar li{
	display: inline-block;
	padding-right: 5%;
	padding-left: 5%;
}


/* ----------  HEADER END  ---------- */



/* ----------  MODAL START  ---------- */

.w3-modal {
	height: 100%;
	padding: 0;
	flex-direction: column; /* Utilisation de flex-box (pas compatible avec tout les navigateurs)*/
	justify-content: center;	/* Utilisation de flex-box (pas compatible avec tout les navigateurs)*/
}

.w3-modal::-webkit-scrollbar {  /* anticipation, j'enléve le scrollbar avec ':-webkit',  au cas ou le display:flex ne fonctionne pas */
    display: none;
}

.perso-modal-content {
	background-color: rgba(255, 255, 255, 0.9);
	width: 70%;
	overflow: hidden;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.perso-modal-infos {
	width: 100%;
}

.perso-modal-infos img {
	width: 10%;
	vertical-align: middle;
	border-radius: 100px;
}


.perso-modal-commentaires {
	width: 100%;
}

.perso-commentaires-bloc {
	background-color: rgba(144, 255, 255, 0.9);
	width: 99%;
	height: 50px;
}

.perso-comments {
	padding-left: 1%
}


/* ----------  MODAL END  ---------- */