
body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: url(http://wallpapercave.com/wp/7a0Lmsk.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#text {
	vertical-align: middle;
	text-align: center;
	color: white;
	font-family: impact;
	font-size: 25px;
}
#text_1 {
	color: white;
	border: 25px;
	text-shadow: 0 0 2px #000000;
}
