.w3-container .perso-shadow h2 {
	text-decoration: underline;
}

.perso-shadow {
	background-color: rgba(0, 0, 0, 0.1);
}

hr {
  height: 1px;
  color: silver;
  background-color: silver;
}

.w3-container .w3-right-align h2{
	cursor: pointer;
}

.w3-container .w3-right-align h2:hover {
	-webkit-animation:fading 1s;
	animation:fading 0.5s;
}

.perso-modal-content {
	background-color: rgba(255, 255, 255, 0.9);
	width: 70%;
	overflow: hidden;
	height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.perso-banniere {
	background-image: url('../assets/banniere.png');
	background-size: 100% 140px;
	background-repeat: no-repeat;
	height: 140px;
	overflow: hidden;
}


.perso-banniere .w3-left-align .w3-image {
	height: 120px;
	margin-top: 20px;
}

main ul{
	height: 80px;
}

main ul li input {
	height: 40px;
	margin-top: 20px;
}

main ul li button {
	height: 40px;
	margin-top: 20px;
}


/* Couleur rouge */
.w3-theme-l5 {color:#000 !important; background-color:#fcf2f1 !important}
.w3-theme-l4 {color:#000 !important; background-color:#f6d3d1 !important}
.w3-theme-l3 {color:#000 !important; background-color:#eda8a3 !important}
.w3-theme-l2 {color:#fff !important; background-color:#e47c75 !important}
.w3-theme-l1 {color:#fff !important; background-color:#db5147 !important}
.w3-theme-d1 {color:#fff !important; background-color:#b02c23 !important}
.w3-theme-d2 {color:#fff !important; background-color:#9d271f !important}
.w3-theme-d3 {color:#fff !important; background-color:#89221b !important}
.w3-theme-d4 {color:#fff !important; background-color:#761e17 !important}
.w3-theme-d5 {color:#fff !important; background-color:#621913 !important}

.w3-theme-light {color:#000 !important; background-color:#fcf2f1 !important}
.w3-theme-dark {color:#fff !important; background-color:#621913 !important}
.w3-theme-action {color:#fff !important; background-color:#621913 !important}

.w3-theme {color:#fff !important; background-color:#c43127 !important}
.w3-text-theme {color:#c43127 !important}
.w3-border-theme {border-color:#c43127 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#c43127 !important}
.w3-hover-text-theme {color:#c43127 !important}
.w3-hover-border-theme:hover {border-color:#c43127 !important}

/*

Couleur vert

.w3-theme-l5 {color:#000 !important; background-color:#eafcf7 !important}
.w3-theme-l4 {color:#000 !important; background-color:#b8f7e6 !important}
.w3-theme-l3 {color:#000 !important; background-color:#71eecd !important}
.w3-theme-l2 {color:#000 !important; background-color:#29e6b4 !important}
.w3-theme-l1 {color:#fff !important; background-color:#14ac83 !important}
.w3-theme-d1 {color:#fff !important; background-color:#0b5a45 !important}
.w3-theme-d2 {color:#fff !important; background-color:#09503d !important}
.w3-theme-d3 {color:#fff !important; background-color:#084636 !important}
.w3-theme-d4 {color:#fff !important; background-color:#073c2e !important}
.w3-theme-d5 {color:#fff !important; background-color:#063226 !important}

.w3-theme-light {color:#000 !important; background-color:#eafcf7 !important}
.w3-theme-dark {color:#fff !important; background-color:#063226 !important}
.w3-theme-action {color:#fff !important; background-color:#063226 !important}

.w3-theme {color:#fff !important; background-color:#0c644d !important}
.w3-text-theme {color:#0c644d !important}
.w3-border-theme {border-color:#0c644d !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#0c644d !important}
.w3-hover-text-theme {color:#0c644d !important}
.w3-hover-border-theme:hover {border-color:#0c644d !important}

*/