.w3-container .perso-shadow h2 {
	text-decoration: underline;
}

.perso-shadow {
	background-color: rgba(0, 0, 0, 0.1);
}

hr {
  height: 1px;
  color: silver;
  background-color: silver;
}

.w3-container .w3-right-align h2{
	cursor: pointer;
}

.w3-container .w3-right-align h2:hover {
	-webkit-animation:fading 1s;
	animation:fading 0.5s;
}

.perso-modal-content {
	background-color: rgba(255, 255, 255, 0.9);
	width: 70%;
	overflow: hidden;
	height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.perso-banniere {
	background-image: url('../assets/banniere.png');
	background-size: 100% 140px;
	background-repeat: no-repeat;
	height: 140px;
	overflow: hidden;
}


.perso-banniere .w3-left-align .w3-image {
	height: 120px;
	margin-top: 20px;
}

main ul{
	height: 80px;
}

main ul li input {
	height: 40px;
	margin-top: 20px;
}

main ul li button {
	height: 40px;
	margin-top: 20px;
}


/* Couleur rouge */
.w3-theme-l5 {color:#000 !important; background-color:#fcf2f1 !important}
.w3-theme-l4 {color:#000 !important; background-color:#f6d3d1 !important}
.w3-theme-l3 {color:#000 !important; background-color:#eda8a3 !important}
.w3-theme-l2 {color:#fff !important; background-color:#e47c75 !important}
.w3-theme-l1 {color:#fff !important; background-color:#db5147 !important}
.w3-theme-d1 {color:#fff !important; background-color:#b02c23 !important}
.w3-theme-d2 {color:#fff !important; background-color:#9d271f !important}
.w3-theme-d3 {color:#fff !important; background-color:#89221b !important}
.w3-theme-d4 {color:#fff !important; background-color:#761e17 !important}
.w3-theme-d5 {color:#fff !important; background-color:#621913 !important}

.w3-theme-light {color:#000 !important; background-color:#fcf2f1 !important}
.w3-theme-dark {color:#fff !important; background-color:#621913 !important}
.w3-theme-action {color:#fff !important; background-color:#621913 !important}

.w3-theme {color:#fff !important; background-color:#c43127 !important}
.w3-text-theme {color:#c43127 !important}
.w3-border-theme {border-color:#c43127 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#c43127 !important}
.w3-hover-text-theme {color:#c43127 !important}
.w3-hover-border-theme:hover {border-color:#c43127 !important}

/*

Couleur vert

.w3-theme-l5 {color:#000 !important; background-color:#eafcf7 !important}
.w3-theme-l4 {color:#000 !important; background-color:#b8f7e6 !important}
.w3-theme-l3 {color:#000 !important; background-color:#71eecd !important}
.w3-theme-l2 {color:#000 !important; background-color:#29e6b4 !important}
.w3-theme-l1 {color:#fff !important; background-color:#14ac83 !important}
.w3-theme-d1 {color:#fff !important; background-color:#0b5a45 !important}
.w3-theme-d2 {color:#fff !important; background-color:#09503d !important}
.w3-theme-d3 {color:#fff !important; background-color:#084636 !important}
.w3-theme-d4 {color:#fff !important; background-color:#073c2e !important}
.w3-theme-d5 {color:#fff !important; background-color:#063226 !important}

.w3-theme-light {color:#000 !important; background-color:#eafcf7 !important}
.w3-theme-dark {color:#fff !important; background-color:#063226 !important}
.w3-theme-action {color:#fff !important; background-color:#063226 !important}

.w3-theme {color:#fff !important; background-color:#0c644d !important}
.w3-text-theme {color:#0c644d !important}
.w3-border-theme {border-color:#0c644d !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#0c644d !important}
.w3-hover-text-theme {color:#0c644d !important}
.w3-hover-border-theme:hover {border-color:#0c644d !important}

*/


.perso-menu {
	width: 100%;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.perso-menu li{
	margin: 10px 0 10px 0;
	padding: 0 0 0 10%;
}

.perso-menu a{
	text-decoration: none;
}

.perso-active {
	border-left: solid white 1px;
}

.perso-menu li:hover{
	border-left: solid white 1px;
	font-size: 1.05em;
}


/* Shoutbox */

.perso-shoutbox  article {
	padding: 1%;
}

.perso-shoutbox  article img {
	width: 10%;
	height: 50px;
	border-radius: 50px;
}

.perso-shoutbox  article i{
	width: 100%;
	line-height: 50px;
	padding-left: 4%;
	color: white;
}

.perso-shoutbox .w3-input {
	width: 70%;
	height: 50px;
	display: inline-block;
}

.perso-shoutbox .w3-btn {
	width: 10%;
	height: 50px;
	margin-top: -1px;
}

/* FIN Shoutbox */

/* Forum */

.perso-categorie article {
	padding: 1%;
}

.perso-categorie article h5{
	border-left: black 1px solid;
	padding-left: 1%;
}

.perso-categorie article .w3-twothird i{
	padding-right: 5%;
}

.perso-categorie article .w3-third img{
	width: 40px;
	margin-top: 5px;
	border-radius: 50px;
}

section {
	width: 100%;
	height: 50px;
	overflow: hidden;
}