#enveloppe {
	margin: auto;
	width: 800px;
	background-color: grey;
}

a{ 
text-decoration:none; 
} 

html {
	margin: 0;
	padding: 0;
	background-color: yellow;
}

body {
	margin: 0;
	padding: 0;
	background-color: green;
}

#div_1 {
	background-color: blue;
}

#div_menu {
	background-color: pink;
	padding: 0;
	margin: 0;
}

#div_menu_coter {
	background-color: brown;
	float: right;
	width: 50%;
	display: inline-block;
}

#div_centrale {
	background-color: white;
	display: inline-block;
	float: left;
	width: 50%;
}

#div_pied {
	background-color: black;
}

#globale {
	display: inline-block;
}